/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







/* CONTAINER*/
.container {
    max-width: 1300px;
    height: 100px;
    margin: 0 auto;
}


/* */




.header {
    background-image: url("./img/main-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    
    max-width:100%;
    height: 100vh;
}

.main-header {
	height: 60px;
    width: 100%;
}



.main-header:hover {
    background: #ffffff;
    transition: 0.8s;
}
.main-header:hover li{
    color: black;
    transition: 0.8s;
}
.main-header:hover .main-logo{
    color: black;
}


 .flex-header {
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    flex-grow: 1 1 1;
    align-items: center;
    justify-content: space-between;
}

.nav li{
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    color: white;
}


.main-logo {
    justify-self: center;
    text-decoration: none;

    color: white;

    font-size: 24px;
    font-family: 'Libre Baskerville', sans-serif;
    letter-spacing: 3px;
}

.flex-header a {
    text-decoration: none;
    color: white;
}
.border-icon-zero {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.main-header:hover .border-icon-zero {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    transition: 0.8s;
}


.account {
    width: 30px;
    height: 30px;
    background-image: url("./img/main-account.svg");
    background-size: cover;
}
.main-header:hover .account {
    width: 30px;
    height: 30px;
    background-image: url("./img/main-account.svg");
    background-size: cover;
}


.main-block {
    height: 520px;

    position: relative;
}
.header-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-title {
    height: max-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    left: 20px;
    bottom: 20%;
}

.main-block h1,
.main-block p {
    color: white;
}
.main-block h1 {
    font-size: 110px;
    line-height: 100px;
}
.main-block p {
    font-size: 18px;
    padding-top: 30px;
}
.main-btn-with-text {
    display: flex;
    padding: 20px;
}
.btn {
    display:inline-flex;
    background-color: rgb(163, 189, 228);
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin: 20px;
    border-radius: 4px;
}
.header-btn {
    width: 460px;
    height: 50px;
}
.header-btn:hover {
    background-color: rgb(122, 156, 206);
    transition: 0.5s;
}
.btn a{
    text-decoration: none;
    color: #2f3e4b;
    font-weight: 700;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 14px;
}


/* MAIN */
body {
    background-color: rgb(247, 247, 247);
}
.container {
    width: 100vw;
}

/* blockes */

.block-1 {
    display: flex;
    justify-content: center;

    width: auto;
    height: min-content;

    padding: 100px 40px 40px; 

    border: 2px solid red;
}
.text-title {
    font-size: 32px;
    text-align: center;


    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    flex-grow: 3;
    color: rgb(31, 31, 31);
}
.img-dog-left {
    width: 220px;

    align-self: flex-end;
    flex-grow: 1;
}
.img-dog-right {
    width: 220px;

    align-self: flex-end;
    flex-grow: 1;

    border: 2px solid red;
}


/* rollovers*/

.rollovers {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;
    border: 2px solid red;
}


#text-on-pic {
    position: relative;
}
.text-on-pic {
    position: absolute;
    top: 85%;
    left: 30%;
    color: rgb(0, 0, 0);
    width: auto;
    padding: 10px;
    text-align: center;
    line-height: 1.2;
}

#text-on-pic:hover .text-on-pic {
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 30%;
}

.title-on-pic {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}
.text-under-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    color: gray;
}



.rollover-1 {
    background: url("./img/product-2.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    width: 380px;
    height: 400px;

    margin-right: 35px;
}
.rollover-1:hover {
    background: url("./img/product-2.1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    transition: 0.3s;
}


.rollover-2 {
    background: url("./img/product-3.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    width: 380px;
    height: 400px;

    margin-right: 35px;
}
.rollover-2:hover {
    background: url("./img/product-3.1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    transition: 0.3s;
}

.rollover-3 {
    background: url("./img/product-4.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    width: 380px;
    height: 400px;

    border: 2px solid red;
}
.rollover-3:hover {
    background: url("./img/product-4.1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    transition: 0.3s;
}



/* block-product with dog */

.block-product-2 {
    padding-bottom: 75px;

    border: 2px solid red;
}

.product-1-rollovers {
    margin-right: 15px;

    border: 2px solid red;
}
.product-2-rollovers {
    border: 2px solid red;
}

.rollovers-product {
    display: flex;
    justify-content: center;
}

.hover-effect-scale {
    list-style:none;
    width: max-content;
    text-align: center;

    margin: 0;
    padding: 0;

    flex-grow: 1;
}
.hover-effect-scale .effect {
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;

    width: 600px;
    height: 500px;
}
.hover-effect-scale img {
    width: 600px;
    height: 500px;
}

.hover-effect-scale .effect h3 {
    color: #fff;
    margin: 5px;

    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}
.hover-effect-scale .effect p {
    color: #fff;
    margin: 5px;

    font-family: 'Libre Baskerville', serif;
}


.hover-effect-scale .effect > div {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content:end;
    flex-direction: column;
}

.hover-effect-scale .effect > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hover-effect-scale .effect img {
    transition: all 0.8s linear;
}
.hover-effect-scale .effect:hover img {
    transform: scale(1.1);
}



/* featured */

.featured {
    background: url("./img/doggy-block.jpg") no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;

    display: flex;
    flex-direction: column; 

    border: 2px solid red;
}


/* pulse */ 


/* */

.title-featured {
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    color: white;

    position: relative;
    top: 220px;
    left: 80px;

    width: max-content;

    border: 2px solid red;
}
.featured-btn {
    position: relative;
    top: 230px;
    left: 60px;


    width: 200px;
    height: 40px;

    border: 2px solid red;
}
.featured-btn:hover {
    background-color: rgb(122, 156, 206);
    transition: 0.5s;
}


/* slider */




.slider-middle {
    background-color: #b3c7ae;
    height: 900px;
    text-align: center;

    border: 2px solid red;
  }
  .slider-title {
      font-size: 50px;
      font-family: 'Libre Baskerville', serif;

      border: 2px solid red;
  }
  
  .slider {
    position: relative;
    width: min-content;
    margin: 50px;

    border: 2px solid red;
  }
  
  .slider input[name="switch"] {
    display: none;
  }
  
  .switch {
    position: absolute;
    left: 0;
    bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  
  .switch label {
    display: inline-block;
    width: 250px;
    height: 4px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #ffffff8c;
  }
  


  #btn1:checked~.switch label[for="btn1"] {
    background-color: white;
    transform: scale(1.1);
  }
  
  #btn2:checked~.switch label[for="btn2"] {
    background-color: white;
    transform: scale(1.1);
  }
  
  
  
  .slider-inner {
    overflow: hidden;
  }
  
  .slides {
    width: 200%;
    transition: all 0.5s;

    border: 2px solid red;
  }
  
  .slides img {
    width: 600px;
    height: auto;
    float: left;

    border: 2px solid red;
  }
  
  #btn1:checked~slider-inner slides {
    transform: translate(0);
  }
  
  #btn2:checked~.slider-inner .slides {
    transform: translate(-50%);
  }

  .flex-slider-content {
      display: flex;

      border: 2px solid red;
  }

  .about-me {
    width: 500px;
    height: 520px;

    margin: 50px 0;

    text-align: center;

    border: 2px solid red;
  }
  .about-me p {

    border: 2px solid red;
    font-size: 24px;
    font-family: 'Libre Baskerville', serif;
  }
  
  .about-me .p-1 {
      margin-top: 60px;
      margin-bottom: 20px;
  }
 /* icon-logo */

 .icon-logo {
     margin-top: 70px;
     margin-bottom: 70px;
     display: flex;

     border: 2px solid red;
 }
 .icon-logo img {
     width: 120px;

     border: 2px solid red;
 }

.il1,
.il2,
.il3 {
    margin-right: 10px;
}

/* real-animal */
.real-animal {
    display: flex;
    text-align: center;

    margin: 60px 0;

    border: 2px solid red;
}

.realanimal-block-1 {
    display: flex;
    flex-direction: column;
    width: 100vw;

    border: 2px solid red;
}
.main-realanimal-pic {
    width: 700px;
    height: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 

    border: 2px solid red;
}
.title-realanimal {
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    margin: 20px 0;

    border: 2px solid red;
}
.text-realanimal {
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid red;
}



.real-dogs {
    display: flex;
    width: 1120px;
    height: 610px;
    overflow: hidden;
    
    margin: 0 auto;
    justify-content: space-between;

    border: 2px solid red;
}
.block-pic-realdog {
    width: 300px;
    height: 300px;
    overflow: hidden;

    border: 2px solid red;
}
.pic-dog {
    width: 300px;
    height: auto;

    border: 2px solid red;
}
.dog-not-pic {
    background-color: rgb(189, 226, 189);

    position: relative;

    width: 300px;
    height: 300px;

    border: 2px solid red;
}
.dog-not-pic p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 30px;

    color: black;
    font-size: 18px;

    border: 2px solid red;
}
.main-dog {
    width: 500px;

    border: 2px solid red;
}

.realanimal-block-2 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border: 2px solid red;
}
.realanimal-block-3 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    border: 2px solid red;
}

.btn-dogs {
    width: 100%;
    display: flex;
    justify-content: center;


    border: 2px solid red;
}
.real-dogs-btn {
    width: 400px;
    height: 60px;
    background-color: rgb(177, 255, 98);
}

/* footer */
footer {
    width: 100%;
    height: 350px;

    border: 2px solid red;
}

.footer-blue {

    height: 40px;

    text-align: center;

    background-color: rgb(180, 187, 228);
}
.footer-blue h3 {
    font-size: 12px;
    font-weight: 900;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: rgb(29, 31, 34);

    padding: 15px 0;
}

.main-footer {

    height: 100%;

    margin: 0 auto;

    position: relative;

    border: 2px solid red;
}



.falcon-toy {
    width: 400px;
    height: 250px;

    background: url("./img/toy.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 400px 350px;

    display:flex;
    justify-content: center;

    position: absolute;
    right: 20px;
    top: 20px;
}
.falcon-toy p {
    font-size: 40px;
    color: white;
    font-family: 'Libre Baskerville', serif;

    padding-bottom: 20px;
}
.content-toy {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.content-toy a {
    color: white;

    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}



.footer-block-1-1 {
    width: 800px;
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}
.footer-block-1-2 {
    display: flex;

    position: absolute;
    top: 90%;
    transform: translateY(-10%);
    
}
.footer-block-1-2 p {
    margin: 0 10px;
}

.column {
    line-height: 2;
}
.not-column h4,
.not-column p {
    margin: 12px 0;
}
.footer-block-1-1 h4 {
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.footer-block-1-1 a {
    color: rgb(39, 39, 39);
    text-decoration: none;
    font-size: 14px;
}

input {
    width: 240px;
    height: 40px;

    border: 2px solid white;
}
.btn-form {
    width: 90px;
    height: 45px;

    cursor: pointer;

    font-size: 12px;
    border: 2px solid rgb(163, 189, 228);
}

.footer-block-1-2 {
    font-size: 10px;
    color: gray;

    margin: 0 15px;
}
.footer-block-1-2 a {
    text-decoration: none;
    color: gray;
}